<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Mon application, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bonjour a tous </h1>
    <p>ceci  est paragraphe</p>
</body>
</html>